.App {
  text-align: center;
}

.navbar{
  display: grid;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  
}
.box{
  border: 1px solid red;
  padding:10px;
  margin: 10px;
}