.list{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: grey;
    border-bottom: 1px solid black;
}