.App {
  text-align: center;
}

.table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.form{
  width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 66%;
  column-gap: 2%;
  row-gap: 1em;
}
.submit{
  display:block;
  margin: auto;
  margin-top: 1em;
}